
<!DOCTYPE html>
<html>
    <head>
        <title>OLX Login Page</title>
        <link rel="stylesheet" type="text/css" href="cssCreateAccount.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

      <div class ="Loginpage">
          <div class ="form">
         <form action="home.html"/> 
             <form class="login-form">
                 <div style="text-align: center;"> <img src="olx.jpg"/></div>
                 <input type="text" name="email" placeholder="Enter email address"/>
                 <input type="text" name="password" placeholder="Enter password"/>
                 <button type="submit" id="LOGINbutton" >LOGIN</button>
                 <br/><br/><br/><br/>
                 <p class="message">New to OLX? </p>
                 <a href="Signup.html">Create your OLX account</a>

          </div>
      </div>
    </body>
</html>
