<html>
    <head>
        <title>New User Sign-Up</title>
        <link rel="stylesheet" type="text/css" href="cssCreateAccount.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        
        
       <div class="createuserpage">
        <div class="form">
            <form action="login.html"/>
                <form class ="createuser-form">
            <div style="text-align: center;"> <img src="olx.jpg"/> </div>
            <p class="message"> Create Account </p>
             <input type="text" name="name"  placeholder="Your Name"/>
             <input type="text" name="email"   placeholder="Email"/>
             <input type="password" name="password"   placeholder="Password"/>
             <input type="text" name="state"  placeholder="City,State"/>
             <input type="text" name="number"        placeholder="Mobile Number"/>
 
             <button type="submit"> Create your OLX Account </button>
             <p class="message">Already have an account? <a href="login.html">Sign In</a></p>
            
                
        </div>
        </div>
    </body>
</html>
